cocoapi/*
maskrcnn-benchmark/*
maskrcnn_benchmark*
build/temp.linux-x86_64-3.7/build.ninja
build/temp.linux-x86_64-3.7/.ninja_log
build/temp.linux-x86_64-3.7/.ninja_deps
__pycache__/predictor.cpython-37.pyc
